<div class="container">

    <form action="/input" method="POST">
        <label for="medicineInput">Enter Medicine</label>
        <input type="text" name="medicineInput"/>
        
    </form>

</div>